body{
    padding: 0;
    margin: 0;
    background-color: black;
}

nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

/* .heading2{
    color: white;
    font: 1em sans-serif;
    margin: 10px;
} */

.img1{
    height: 60px;
    width: 200px;
    margin: 10px;
    
}

.img2{
    height: 35px;
    width: 35px;
    background-color: white;
    margin: 10px;
    
}

.maincontainer{
    padding: 60px;
    justify-content: center;
    display: flex;
    /* width: 1200px;
    height: 800px; */
    gap: 30px;

}


.div2{
    text-align: center;
    border: 8px solid yellow;
    border-color: yellow;
    height: 580px;
    width: 600px;

}
.head1{
    color: white;
    font-size: 60px;
    
}
.p1{
    color: white;
    font-size: larger;
}
.btn1{
    color: white;
    border: 2px solid white;
    background-color: transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.btn1:hover{
    background-color: white;
    color: black;
}

.maincontainer2{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 10px;
}

.div3{
    border: 5px solid yellow;
    border-color: yellow;
    color: white;
    width: 250px;
    height: 200px;
    
}
.p2{
    color: white;
    font-size: 40px;
}
.p3{
    color: white;
    font-size: 20px;
}

.maincontainer3{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .div5{
  width: 100%;

} */
/* .div6{
    border: 10px solid yellow;
    border-color: yellow;
    width: 250px;
    height: 250px;
    position: relative;
    right: 300px;
    bottom: 100px;
} */
.div6c{
    background-color: black;
    border: 10px solid yellow;
    border-color: yellow;
    padding-top: 20px;
    width: 400px;
    height: 350px;
    position: relative;
    right: 200px;
    bottom: 100px;
    text-align: center;
}
.p4{
    color: white;
}
.p5{
    color: white;
    font-size: larger;
}

.maincontainer4{
    gap: 10px;
    justify-content: center;
}
.div8{
    text-align: center;
}
.div9{
    text-align: center;
}
.btn2{
    text-align: center;
    border: 2px solid yellow;
    background: none;
    width: 150px;
    height: 40px;
    color: white;
    cursor: pointer;
}
.btn2:hover{
    background-color: yellow;
    color: gray;
}

@media screen and (max-width:768px) {
    .body{
        display: flex;
    }
    .div5{
        width: 1000px;
    }
    
}